@font-face {
  font-family: Circe-Regular;
  src: url(../fonts/Circe-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Circe-Light;
  src: url(../fonts/Circe-Light.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Circe-ExtraBold;
  src: url(../fonts/Circe-ExtraBold.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Circe-Regular", sans-serif;
  font-size: 14px;
}

.row-top-container {
  max-width: 1440px;
  min-width: 1440px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  white-space: nowrap;
  margin: 0 auto;
  background-color: #313131;
}

.header-menu {
  display: flex;
  list-style: none;
  padding: 0;
}

.header-menu li {
  margin-right: 29px;
}

.header-menu li a {
  color: inherit;
  text-decoration: none;
}
.header-login {
  width: 74px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-login a {
  color: #E7584D;
  text-decoration: none;
}

.header-login .icon-login {
  width: 19px;
  height: 20px;
  background: url("../img/icon-login.png") no-repeat center;
  background-size: contain;
}

.row-primary-container {
  max-width: 1440px;
  min-width: 1440px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  margin: 0 auto;
  background-color: #E13325;
}

.header-logo {
  width: 263px;
  height: 53px;
}

.header-search input.search {
  width: 290px;
  height: 50px;
  background-color: #E13325;
  color: #ffffff;
  border: 1px solid #E7584D;
  font-family: "Circe-Regular", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 14px 10px;
  border-radius: none;
  box-sizing: border-box;
}

.header-search input[type="submit"] {
  width: 115px;
  height: 50px;
  background-color: #E7584D;
  color: #ffffff;
  border: none;
  font-family: "Circe-Regular", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  border-radius: none;
}

.header-compare {
  width: 122px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-compare a {
  color: #E69D97;
  text-decoration: none;
}

.header-compare .icon-compare {
  width: 19px;
  height: 26px;
  background: url("../img/icon-compare.png") no-repeat center;
  background-size: contain;
}

.header-select {
  width: 136px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-select a {
  color: #ffffff;
  text-decoration: none;
}

.header-select .icon-select {
  width: 40px;
  height: 28px;
  background: url("../img/icon-select.png") no-repeat center;
  background-size: contain;
}

.header-basket {
  width: 136px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-basket a {
  color: #ffffff;
  text-decoration: none;
}

.header-basket .icon-basket {
  width: 40px;
  height: 28px;
  background: url("../img/icon-basket.png") no-repeat center;
  background-size: contain;
}

.row-menu-container {
  max-width: 1440px;
  min-width: 1440px;
  height: 60px;
  color: #313131;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.main-menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.main-menu li a {
  color: inherit;
  text-decoration: none;
}

.promo-container {
  max-width: 1440px;
  min-width: 1440px;
  height: 644px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.promo .big {
  position: relative;
  width: 842px;
  height: 540px;
  background: url("../img/promo-big.png") no-repeat center;
  filter: contrast(1.2);
  background-size: auto;
  box-sizing: border-box;
  border: 1px solid #979797;
  margin: 42px 20px 62px 0px;
}

.promo-big-title {
  position: absolute;
  top: 347px;
  left: 112px;
  width: 412px;
  height: 43px;
  color: #ffffff;
  font-size: 36px;
  font-family: "Circe-Light", sens-serif;
}

.promo-big-price {
  position: absolute;
  top: 402px;
  left: 111px;
  width: 81px;
  height: 20px;
  color: #ffffff;
  font-size: 24px;
}

.promo input[type="submit"] {
  position: absolute;
  top: 435px;
  left: 112px;
  width: 112px;
  height: 40px;
  background-color: #E13325;
  color: #ffffff;
  border: none;
  font-family: "Circe-Light", sans-serif;
  font-size: 14px;
}

.promo .small {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 405px;
  height: 540px;
  background-color: #313131;
  margin: 42px 0px 62px 0px;
}

.promo-small-title-1 {
  width: auto;
  height: 86px;
  font-family: "Circe-Light", sens-serif;
  font-size: 36px;
  color: #ffffff;
  line-height: 33px;
  margin-top: 46px;
  margin-left: 40px; 
}

.promo-small-image {
  width: 405px;
  height: 317px;
  background: url("../img/promo-small.png") no-repeat center; 
  background-size: contain;
}

.promo-small-title-2 {
  width: auto;
  height: 44px;
  font-size: 14px;
  color: #ADADAD;
  margin-left: 40px;
  margin-bottom: 33px;
}

.popular-items {
  width: auto;
  background-color: #F3F3F3; 
}

.container-popular {
  max-width: 1440px;
  min-width: 1440px;
  height: 1539px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.section-title {
  width: 100%;
  padding-top: 86px;
  padding-left: 80px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.section-title h2 {
  font-size: 36px;
  font-family: "Circe-Light", sans-serif;
  color: #313131;
  margin: 0;
}

.catalog {
  width: 100%;
  height: 950px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  width: 296px;
  height: 424px;
  background-color: #ffffff;
}

.item-category {
  color: #ADADAD;
  margin-top: 10px;
  margin-left: 36px;
}

.item-name {
  width: 229px;
  height: 54px;
  color: #313131;
  font-family: "Circe-Light", sans-serif;
  font-size: 24px;
  margin-top: 8px;
  margin-left: 33px;
}

.price-and-buy {
  display: flex;
  justify-content: space-between;
  margin: 30px 36px;
}

.item-price {
  color: #E13325;
  font-family: "Circe-ExtraBold", sans-serif;
  font-size: 18px;
}

.item-buy a {
  color: #E13325;
  text-decoration: none;
}

.info {
  display: flex;
  width: 100%;
  height: 440px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-card-img {
  height: 336px;
  display: flex;
  justify-content: space-between;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 296px;
  height: 336px;
  background-color: #ffffff;
  padding-top: 30px;
  padding-left: 40px;
  box-sizing: border-box;
  margin: 0 auto;
}

.info-icon {
  margin-bottom: 30px;
}

.info-title {
  width: 236px;
  height: 70px;
  font-size: 24px;
  font-family: "Circe-Light";
  color: #313131;
  margin-bottom: 15px;
}

.info-text {
  color: #313131;
  width: 223px;
  margin-bottom: 40px;
}

.info-more {
  margin-bottom: 20px;
}

.info-more a {
  color: #E13325;
  text-decoration: none;
}

.news-container {
  max-width: 1440px;
  min-width: 1440px;
  height: 1543px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.catalog-news {
  width: 100%;
  height: 403px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.new-item {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 403px;
  box-sizing: border-box;
}

.new-image {
  margin-bottom: 22px;
}
.new-data {
  color: #ADADAD;
  margin-bottom: 10px;
}

.new-text {
  color: #313131;
  font-family: "Circe-Light";
  font-size: 24px;
  margin-bottom: 10px;
  line-height: 28px;
}

.new-more {
  color: #E13325;
}

.new-item.mailing {
  background-color: #F3F3F3;
  align-items: center;
}

.mailing-subscribe {
  font-family: "Circe-Light", sans-serif;
  font-size: 24px;
  color: #313131;
  margin-top: 60px;
  margin-bottom: 30px;
  width: 241px;
  text-align: center;
}

.mailing-text {
  color: #181818;
  width: 185px;
  text-align: center;
  margin-bottom: 45px;
}

.mailing-email input.email {
  width: 255px;
  height: 55px;
  background-color: #ffffff;
  color: #ADADAD;
  font-family: "Circe-Regular", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 14px 10px;
  border: none;
  border-radius: none;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.mailing-btn input.btn {
  width: 255px;
  height: 55px;
  background-color: #E13325;
  color: #ffffff;
  border: none;
  font-family: "Circe-Light", sans-serif;
  font-size: 14px;
  margin-bottom: 30px;
}

.map {
  text-align: center;
  padding-top: 115px;
  box-sizing: border-box;
}

.about-tir {
  height: 392px;
  display: flex;
  align-items: top;
  padding-left: 83px;
  justify-content: flex-start;
}

.about-1 {
  display: flex;
  flex-direction: column;
  margin-right: 112px; 
}

.about-1-title {
  width: 433px;
  font-family: "Circe-Light", sans-serif;
  font-size: 36px;
  color: #313131;
  margin-top: 52px;
  margin-bottom: 12px;
}

.about-1-contact {
  font-size: 17px;
  margin-bottom: 20px;
}

.register-btn input.btn {
  width: 188px;
  height: 45px;
  background-color: #E13325;
  color: #ffffff;
  border: none;
  font-family: "Circe-Light", sans-serif;
  font-size: 14px;
  margin-bottom: 30px;
}

.about-2 {
  width: 630px;
  height: 156px;
  font-size: 17px;
  line-height: 26px;
  margin-top: 70px; 
}

.footer-container {
  max-width: 1440px;
  min-width: 1440px;
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
  margin: 0 auto;
  height: 310px;
  background-color: #313131;
}

.footer-about {
  display: flex;
  flex-direction: column;
}

.footer-name {
  color: #606060;
  margin-bottom: 24px;
}

.footer-contact {
  color: #FFFFFF;
  line-height: 30px;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
}

ul.menu {
  list-style: none;
  line-height: 29px;
}

ul.menu a {
  text-decoration: none;
  color: #E13325;
}

.footer-social {
  display: flex;
}

.container-vk, .container-insta {
  display: flex;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
}

.icon-vk {
  width: 20px;
  height: 12px;
  background: url("../img/icon-vk.png") no-repeat center;
  background-size: contain;
}

.icon-insta {
  width: 16px;
  height: 16px;
  background: url("../img/icon-insta.png") no-repeat center;
  background-size: contain;
}
