@font-face {
  font-family: Circe-Regular;
  src: url(../fonts/Circe-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Circe-Light;
  src: url(../fonts/Circe-Light.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Circe-ExtraBold;
  src: url(../fonts/Circe-ExtraBold.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Circe-Regular", sans-serif;
  font-size: 14px;
}

.row.top {
  width: auto;
  height: 60px;
  background-color: #313131;
}

.row.primary {
  width: auto;
  height: 120px;
  background-color: #E13325;
}

.row.menu {
  width: auto;
  height: 60px;
}

.promo {
  width: auto;
  height: 645px;
}

.popular-items {
  width: auto;
  height: 1539px;
  background-color: #F3F3F3;
}
.news {
  width: auto;
  height: 1543px;
}
footer {
  width: auto;
  height: 310px;
  background-color: #313131;
}

